# Quarto internal files and folders
.quarto/
_site/
*.tex
*.pdf

# Generated PDF (since GitHub Actions will build a fresh one)
Resume-ShivanshSingh.pdf

# OS specific
.DS_Store
Thumbs.db
/.quarto/
**/*.quarto_ipynb
